@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500;700&display=swap');

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main{
  padding: 40px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  min-height: 60px;
}

.navbar--image{
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 2rem;
}

.navbar--image img{
  max-width:50px;
  max-height:50px;
}

.navbar--name_description{
  padding: 2rem;
}

.navbar--name{
  margin-left: 1rem;
}

.form{
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  margin-top: 3rem;
  gap: 1rem;
  padding: 40px;
}
.form--button{
  grid-column: 1/-1;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  border-radius: 5px;
  color: white;
  Font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.1em;
  border: none;
  cursor: pointer;
}

.form--input{
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  text-align: left;
  text-indent: 10px;
}

.meme--image{
max-width: 100%;

}
.meme{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}